{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <h5>Resource Allocation for Task</h5>
        </div>
        <div class="widget-content nopadding">
              <form action="{% url 'allocateemployee_task' %}" method="post" class="form-horizontal">
           {% csrf_token %}
              <div class="control-group">
                <label class="control-label">Please select Project:</label>
                <div class="controls">
                    <select name="project" id="project" data-url='{% url "validate_task" %}'>
                        {% for nameofproject in project %}
                        <option value="{{ nameofproject.id }}" selected>{{ nameofproject }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
              <div class="control-group">
                <label class="control-label">Please select Task:</label>
                <div class="controls">
                    <select name="task" id="div-task">
                    </select>
                </div>
            </div>
              <div class="control-group">
                <label class="control-label">Please select Employee:</label>
                <div class="controls">
                    <select name="employee" id="div-employee">
                    </select>
                </div>
            </div>
              {% for field in form %}
            <div class="control-group">
              <label class="control-label">{{ field.label_tag }}</label>
              <div class="controls">
                {{ field }}
                {{ field.errors }}
              </div>
            </div>
              {% endfor %}
            <div class="control-group">
              <label class="control-label">Allocation in Percentage:</label>
              <div class="controls">
                  <input type="number" pattern="[0-9]{1}{2}{3}" name="percentage">
              </div>
            </div>
              {{ errors }}
              <div class="form-actions">
              <button type="submit" class="btn btn-success">Allocate</button>
              </div>
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}<br>
          </form>
        </div>
      </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/validate_task.js' %}"></script>
<script src="{% static 'js/validate_employee.js' %}"></script>
{% endblock %}